{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}Delete course: {{ object.title }}{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-11 col-lg-9 col-xl-8 mx-auto">
                <div class="card mt-5">
                    <div class="card-body shadow">
                        <h5 class="card-title text-center">Delete course: {{ object.title }}</h5>
                        <form method="post">
                            {{ form|crispy }}
                            {% csrf_token %}
                            <p>Are you sure you want to delete "{{ object }}"?</p>
                            <input type="submit" value="Confirm" class="btn btn-danger btn-sm btn-block">
                            <a href="{% url "manage_course_list" %}" class="btn btn-dark btn-sm btn-block">Back to
                                home</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}