{% extends "base.html" %}
<!-- this page is used for CREATING and UPDATING -->
{% load crispy_forms_tags %}

{% block title %}
    <!-- if an object variable exist, then update -->
    {% if object %}Update course "{{ object.title }}"
        <!-- create new course -->
    {% else %}Create a new course
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-11 col-lg-9 col-xl-8 mx-auto">
                <div class="card mt-5">
                    <div class="card-body shadow">
                        <h3 class="card-title text-center">Course info</h3>
                        <form method="post">
                            {{ form|crispy }}
                            {% csrf_token %}
                            <!-- update course -->
                            {% if object %}
                                <input type="submit" value="Update course" class="btn btn-info btn-sm btn-block">
                            {% else %} <!-- create new course -->
                                <input type="submit" value="New course" class="btn btn-info btn-sm btn-block">
                            {% endif %}
                            <a href="{% url "manage_course_list" %}" class="btn btn-dark btn-sm btn-block">Back to
                                home</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}