{% extends "base.html" %}
{% block title %}My courses{% endblock %}
{% block content %}

    <div class="container">
        <div class="pt-3 h1 text-capitalize ms-3">
            {% if courses|length == 1 %}
                Course
            {% elif courses|length == 0 %}
                No Course List
            {% else %}
                Courses
            {% endif %}
        </div>
        <div class="row pt-4">
            <div class="col-sm-12 col-md-11 col-lg-10 col-xl-11 mx-auto">

                {% for course in courses %}
                    <div class="card shadow mb-3">
                        <div class="card-body text-center">
                            <h5 class="card-title">{{ course.title|truncatewords:6|linebreaks }}</h5>
                            <span class="pt-2">
                                <!-- course edit link -->
                                <a role="button" class="btn btn-sm mb-2 ms-3 ms-2 btn-link btn-dark text-white"
                                   href="{% url "course_edit" course.id %}">
                                Course Edit<i class="far fa-edit"></i>
                                </a>
                                <!-- course edit link -->

                                <!-- edit modules link -->
                                <a role="button" class="btn btn-sm mb-2 ms-3 ms-2 btn-link btn-dark text-white"
                                   href="{% url "course_module_update" course.id %}">Edit modules</a>
                                <!-- edit modules link -->

                                <!-- link to module_content_list -->
                                {% if course.modules.count > 0 %}
                                    <a role="button" class="btn btn-sm mb-2 ms-3 ms-2 btn-link btn-dark text-white"
                                       href="{% url "module_content_list" course.modules.first.id %}">Manage module contents</a>
                                {% endif %}
                                <!-- link to module_content_list -->

                                <!-- delete course link -->
                                <a role="button" class="btn btn-sm mb-2 ms-3 ms-2 btn-link btn-primary text-danger"
                                   href="{% url "course_delete" course.id %}">
                                    Delete<i class="fas fa-backspace text-danger"></i>
                                </a>
                                <!-- delete course link -->
                        </span>
                        </div>
                    </div>
                {% empty %}
                    <p>You haven't created any courses yet.</p>
                {% endfor %}
                <p class="pt-3">
                    <a href="{% url 'course_create' %}" class="btn btn-outline-dark btn-sm">Create new course&nbsp;<i
                            class="far fa-plus-square"></i></a>
                </p>
            </div>
        </div>
    </div>
{% endblock %}