{% extends "base.html" %}
<!-- this page is used for CREATING and UPDATING -->
{% load crispy_forms_tags %}

{% block title %}
    {#    <!-- if an object variable exist, then update -->#}
    {% if object %}Update content | {{ object.title }}
        {#        <!-- create new content -->#}
    {% else %}Create content
    {% endif %}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-11 col-lg-9 col-xl-8 mx-auto">
                <div class="card mt-5">
                    <h3 class="card-header text-center">
                        {% if object %}
                            Update content&#58;&nbsp;{{ object.title }}
                        {% else %}
                            New content
                        {% endif %}
                    </h3>
                    <div class="card-body shadow">
                        <h3 class="card-title text-center">Course info</h3>
                        <form method="post" enctype="multipart/form-data">
                            {{ form|crispy }}
                            {% csrf_token %}
                            <!-- update course -->
                            {% if object %}
                                <input type="submit" value="Update content" class="btn btn-info btn-sm btn-block">
                            {% else %} <!-- create new course -->
                                <input type="submit" value="New content" class="btn btn-info btn-sm btn-block">
                            {% endif %}

                            <!-- back to course list -->
                            <a href="{% url "manage_course_list" %}" class="btn btn-dark btn-sm btn-block">
                                Back to course list
                            </a>
                            <!-- back to course list -->
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}