<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">E-Platform</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            {% if request.user.is_authenticated %}
                <!-- homepage link -->
                <li class="nav-item">
                    <a class="nav-link" href="#">Home</a>
                </li>
                <!-- homepage link -->

                <!-- logout link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url "logout" %}">Sign out</a>
                </li>
                <!-- logout link -->

            {% else %}
                <!-- login link -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url "login" %}">Sign in</a>
                </li>
                <!-- login link -->
            {% endif %}
        </ul>
    </div>
</nav>
